<template>
    <h1>Jobs</h1>
        <div v-for="job in jobs" :key="job.key" class="jobs">
           <router-link :to="{name:'JobDetails',params:{id:job.id}}">
                <h2>{{ job.title}}</h2>
           </router-link>
        </div>
</template>

<script>
export default {

    data(){
      return{
          jobs: [
              {title:"Ux desinger",id:1,detail:'lorem'},
              {title:"Python Developer",id:2,detail:'lorem'},
              {title:"Anguler Developer",id:3,detail:'lorem'}
          ]
      }
    }

}
</script>

<style>

.jobs h2{
    background-color:cornsilk;
    text-decoration: none;
    padding:20px;
    border-radius: 10px;    
    margin:10px ,auto;
    max-width:600px ;
    align-self: center;
}
div {
    align-self: center;
}
</style>