<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At voluptatum porro labore, dignissimos, voluptates numquam minima suscipit ducimus, exercitationem quos quo ipsa a rem cum consectetur ullam mollitia ipsum magni.</p>
  </div>
</template>
