<template>
  <div class="home">
        <h1>HomePage</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente assumenda natus officiis aut illo debitis. Ducimus a molestiae doloribus doloremque esse beatae numquam blanditiis. Sed voluptatem officiis voluptate adipisci debitis!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam nihil quo odit cum repellat explicabo distinctio qui soluta odio quis? Facilis corporis cupiditate provident praesentium, at nemo! Quae, doloremque suscipit.</p>
  </div>
</template>

<script>

export default {
  name:"Home",
  components:{

    
  }
}
</script>
