<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link :to="{name:'About'}">About</router-link>
    <router-link :to="{name:'Jobs'}">Jobs</router-link>
    <button @click="redirect" >Redirect</button>
    <button @click="back" >Back</button>
    <button @click="forword" >Forword</button>
  </div>
  <div> 
    
  </div>
  
  <router-view/>
</template>
<script>
export default {
  data(){
    return{
      name:"Nagesh Nagansur"
    }
  },
    methods:{
      redirect(){
       
      },
      forword(){
        this.$router.go(1)
      },
      back(){
        
        this.$router.go(-1)

      }

    }
  }


</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color:black;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  
}

#nav a.router-link-exact-active {
  color:white;
  background-color: red;
}
</style>
